:root {
  --font-sans-serif: Roboto, sans-serif;
  --font-serif: Lustria, serif;
  --black: #0E150E;
  --cream: #F4F3E7;
  --tan: #E8DCC6;
  --kale-green: #00473C;
  --sage: #A9C1A9;
  --light-sage: #D8E5D6;
  --lime: #E6FE54;
  --mid-gray: #8C8C82;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*------------ typography and image ------------*/

body {
  font-family: var(--font-sans-serif);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.8rem;
}

h1, h2, h3 {
  font-family: var(--font-sans-serif);
  font-weight: 300;
}

h1 {
  line-height: 3rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0;
  line-height: 1.2rem;
}

h3 {
  font-size: 4.3rem;
  letter-spacing: -.1rem;
  line-height: 4rem;
  margin: 0;
}

h4, .menu__heading a{
  font-family: var(--font-serif);
  color: var(--mid-gray);
  font-size: 3rem;
  transition: all .3s ease-in-out;
}

h4, .menu__heading a:hover {
  color: var(--black);
  text-decoration: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.action-link {
  font-size: 1.1rem;
}

.transform-arrow {
  transition: transform .3s ease-in-out;
  display: inline-block;
}

a:hover .transform-arrow {
  transform: translate(5px);
}

/*------------ buttons and icons ------------*/

.button {
  color: var(--lime);
  background: var(--kale-green);
  padding: 1px 18px;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid var(--kale-green);
}

.button:hover {
  color: var(--black);
  background: none;
  text-decoration: none;
  transition: all .3s ease-in-out;
  border: 1px solid var(--black);
}

.button--primary {
  color: var(--kale-green);
  background: var(--lime);
  padding: 8px 60px;
  transition: all .3s ease-in-out;
  border: 1px solid var(--lime);
  margin: 1.3rem 0;
}

.button--primary:hover {
  color: var(--lime);
  background: var(--kale-green);
  text-decoration: none;
  transition: all .3s ease-in-out;
  border: 1px solid var(--kale-green);
}

.button--secondary {
  color: var(--black);
  background: none;
  padding: 8px 60px;
  border: 1px solid var(--black);
  transition: all .3s ease-in-out;
}

.button--secondary:hover {
  color: var(--light-sage);
  background: var(--black);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.carousel__button {
  background: none;
  border: none;
  font-size: 2rem;
  padding: .3rem;
  width: 30px;
  height: 30px;
}

.carousel__button:hover {
  border: none;
}

.carousel__button--circle {
  background: var(--lime);
  border-radius: 50%;
  padding: .7rem;
  border: none;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  transition: all .3s ease-in-out;
  border: 2px solid var(--lime);
}

.carousel__button--circle:hover {
  border: 2px solid var(--black);
}

.icon--square {
  background: none;
  width: 29px;
  height: 29px;
  color: var(--black);
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

/*------------ .component ------------*/

.component__main {
  margin-left: 305px;
  padding: 1px 30px;
  height: 1000px;
}

.component {
  margin-bottom: 5rem;
}

.component img {
  max-width: initial;
}

.component__img {
  border: 1px solid var(--black);
  overflow-x: auto;
}

.component__code {
  border: 1px solid var(--black);
  margin-top: -1px;
  position: relative;
}

.component__heading {
  background: var(--kale-green);
  color: var(--cream);
  padding-left: .5rem;
  letter-spacing: .1rem;
  margin-bottom: 0;
  line-height: 2.5rem;
}

.component__name {
  font-size: 1.2rem;
  background: var(--cream);
  color: var(--black);
  padding-left: .5rem;
  letter-spacing: 0;
  margin: 0;
  line-height: 2.5rem;
}

/*------------ side navigation ------------*/

.sidebar {
  margin: 0;
  padding: 2rem;
  width: 300px;
  background-color: var(--cream);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar__heading {
  padding-bottom: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar li {
  display: block;
  padding-bottom: 5px;
  margin: 0;
  font-size: 1.2rem;
}

.side-bar__section {
  margin: 2rem 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
  }
  .side-bar__section {display: none;}
  .component__main {margin-left: 0;}
}

/*------------ sweetgreen nav-bar ------------*/

.nav-bar__container {
  display: flex;
  list-style: none;
  align-items: center;
  background: var(--cream);
  text-transform: uppercase;
}

.nav-bar__container .wordmark {
  margin: auto;
}

.nav-bar__container a {
  margin: auto;
}

.nav-bar__list {
  padding: 0;
  text-transform: uppercase;
}

.nav-bar__list--left {
  padding-left: 1.5rem;
}

.nav-bar__list--right {
  padding-right: 2rem;
}

.nav-bar__item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .nav-bar__item {display: none;}
}

/*------------ hero section ------------*/

.hero__container {
  position: relative;
}

.hero__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  width: 500px;
  bottom: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.hero__carousel--buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-right: 20px;
  padding-top: 20px;

}

/*------------ menu card ------------*/

.menu-card__container-p {
  width: 340px;
  position: relative;
}

.menu__heading {
  display: flex;
  background: var(--cream);
  justify-content: center;
}

.menu__heading ul {
  list-style: none;
  margin-bottom: 0;
}

.menu__heading li {
  display: inline-block;
  padding: 1rem;
}

.menu__content {
  display: flex;
  column-gap: 1.5rem;
  background: var(--cream);
  padding: 1.5rem;
  justify-content: center;
}

.menu-card__img {
  border-radius: 1.25rem;
  width: 100%;
}

.menu-card__container-p:before,
.menu-card__img:before {
  background: var(--lime);
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  width: 120px;
  text-align: center;
  padding: 4px 0;
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu-card__container-p:before {
  content: "POPULAR";
}

.menu-card__container-g {
  width: 340px;
  position: relative;
}

.menu-card__container-g:before,
.menu-card__img:before {
  border-radius: 50%;
  border: 1px solid var(--black);
  display: inline-block;
  padding: 3px 11px;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-card__container-g:before {
  content: "G";
}

.menu-card__heading {
  font-size: 1.5rem;
}

.menu-card__desc {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.menu-card__link {
  font-size: 1.1rem;
}

.menu-card__tag--left {
  background: var(--lime);
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  width: 120px;
  text-align: center;
  padding: 4px 0;
}

.menu-card__tag--right {
  border-radius: 50%;
  border: 1px solid var(--black);
  display: inline-block;
  padding: 3px 11px;
  font-size: 1.1rem;
}

@media screen and (max-width: 700px) {
  .menu__content {
      display: block;
      justify-content: center;
      flex-basis: 100%;
  }
  .menu-card__container-g, .menu-card__container-p {
    margin: 1rem 0;
  }
}

/*------------ app section ------------*/
.app-section-container {
  background: var(--sage);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  height: 100vh;
}

.app-section__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
}

.first-p {
  margin-bottom: 1rem;
}

.second-p {
  margin-top: 0;
}

#app-section__button {
  margin-top: auto;
  align-self: flex-start;
}

.app-section__img {
  align-self: flex-end;
}

.app-section__img img{
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

@media screen and (max-width: 700px) {
  .app-section__content {
    width: 300px;
    display: block;
  }
  .app-section__img img{
    max-width: 100%;
  }
}

/*------------ latest card ------------*/

.latest-card__container {
  width: 400px;
  background: var(--tan);
  border-radius: 1.25rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.latest-card__container:hover {
  background: var(--light-sage);
}

.latest-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-card__img {
  border-radius: .8rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-card__img-container {
  width: 200px;
}

.latest-card__heading {
  padding: 0;
  margin: 0;
  line-height: 1.3rem;
}

.latest-card__subheading {
  font-size: 1rem;
  color: var(--black);
  padding: .4rem 0;
  margin: 0;
  line-height: 1.3rem;
}

.latest-card__desc {
  font-size: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
  line-height: 1.3rem;
}

.latest-card__link {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.latest-card__link:hover {
  text-decoration: none;
}

/*------------ latest section ------------*/

.latest-section-container {
  background: var(--cream);
  padding: 40px;
}

.latest-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latest-header{
  font-size: 1.5rem;
  margin: 0;
}

#latest-header-link {
  text-transform: uppercase;
  font-size: 1rem;
}

.latest-section-cards {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .latest-section-cards {
      display: block;
      width: 300px;
  }
}

/*------------ exclusives section ------------*/

.exclusives-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  background: var(--light-sage);
}

.exclusives-section-container {
  background: var(--light-sage);
  padding: 40px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.exclusives-section__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
}

#exclusives-section__button {
  margin-top: auto;
  align-self: flex-start;
}

.exclusives-section__img {
  align-self: flex-end;
}

.exclusives-section__img img{
  width: 100%;
  height: 100%; 
  object-fit: contain;
  border-radius: 1.3rem;
}

@media screen and (max-width: 700px) {
  .exclusives-section__content {
    width: 300px;
  }
}

/*------------ lab section ------------*/

.lab-section-container {
  background: var(--tan);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lab-section__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  column-gap: 2rem;
}

.lab-p {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.lab-link {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1rem;
  margin-top: auto;
  text-underline-offset: 0.125rem;
}

.lab-section__video video {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*------------ newsletter and download------------*/

.flex-container {
  display: flex;
  flex-direction: row;
  border-radius: .6rem;
  border: 1px solid var(--black);
  padding: .6rem;
}

.email {
  flex: 1;
  font-size: 1.2rem;
  border: none;
  background: none;
}

.submit-arrow {
  border: none;
  background: none;
  cursor:pointer;
}

input::placeholder{
  color: var(--black);
}

.email:focus{
  outline: none;
  background: var(--light-sage);
}

.flex-container:focus-within {
  background: var(--light-sage);
}

.newsletter__container {
  background: var(--cream);
  padding: 40px;
  border-right: 1px solid var(--black);
}

.newsletter__h2 {
  margin-top: 0;
}

.download__container {
  background: var(--cream);
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.download__content {
  margin: 0;
}

.download-illustration {
  margin: 0;
}

.download-illustration img {
  max-width: 100%;
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 0;
  margin-top: 2rem;
}

.newsletter-download__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--black);
}

/*------------ footer marquee ------------*/

.marquee {
  height: 70px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  background: var(--sage);
}

.marquee h3 {
  font-size: 3rem;
  position: absolute;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

/*------------ footer ------------*/

.footer__nav-container {
  display: flex;
  background: var(--sage);
  padding: 40px;
}

.footer__nav-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.3rem;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
}

.footer__copyright {
  font-size: 1rem;
  text-align: right;
  line-height: 1rem;
}