<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | sweetgreen</title>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">body</h3>
      <div class="component__img">
        <img 
          srcset="img/app__desc.png 2x"
          src="img/app__desc.png" 
          alt="body copy">
      </div>
      <div class="component__code">
        <p>
          Our freshly designed app is a dream home for all things sweetgreen. Order delivery or pickup, find personalized promos, and access exclusive menu items
        </p>
        <p>
          Tap in to eat with the seasons, explore new flavors, and find the sweet spot between good-for-you and just-plain-good.
        </p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__name">headings (h1, h2, ...)</h3>
      <div class="component__img">
        <img srcset="img/app__pre-heading.png 2x" src="img/app__pre-heading.png" alt="body copy">
        <img srcset="img/app__heading.png 2x" src="img/app__heading.png" alt="body copy">
        <img srcset="img/menu__heading--inactive.png 2x" src="img/menu__heading--inactive.png" alt="body copy">
      </div>
      <div class="component__code">
        <h2>Inside The App</h2>
        <h3>Explore our new sweetgreen app</h3>
        <h4>Warm Bowls</h4>
      </div>
    </article>
  </body>
</html>