<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components | sweetgreen</title>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
  <!------------ side navigation ------------> 
    <header class="sidebar">
      <div class="sidebar__heading">
        <img src="img/Sweetgreen_logo.svg">
      </div>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#typography"><h2>Typography</h2></a>
          <ul>
            <li><a href="#body">body</a></li>
            <li><a href="#headings">h2, h3,         h4</a></li>
            <li><a href="#links">link</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#atoms"><h2>Atoms</h2></a>
          <ul>
            <li><a href="#action-link">.action-link</a></li>
            <li><a href="#button">.button</a></li>
            <li><a href="#button-primary">.button--primary</a></li>
            <li><a href="#button-secondary">.button--secondary</a></li>
            <li><a href="#carousel-button">.carousel__button</a></li>
            <li><a href="#carousel-button-circle">.carousel__button--circle</a></li>
            <li><a href="#icon-square">.icon--square</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#nav-bar"><h2>Nav-Bar</h2></a>
          <ul>
            <li><a href="#nav-bar">.nav-bar</a></li>
            <li><a href="#nav-bar-list">.nav-bar__list</a></li>
            <li><a href="#nav-bar-wordmark">.nav-bar__wordmark</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#menu-card"><h2>Menu Card</h2></a>
          <ul>
            <li><a href="#menu-card">.menu-card</a></li>
            <li><a href="#menu-card-img">.menu-card__img</a></li>
            <li><a href="#menu-card-content">.menu-card__content</a></li>
            <li><a href="#menu-card-tag-left">.menu-card__tag--left</a></li>
            <li><a href="#menu-card-tag-right">.menu-card__tag--right</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#latest-card"><h2>Latest Card</h2></a>
          <ul>
            <li><a href="#latest-card">.latest-card</a></li>
            <li><a href="#latest-card-img">.latest-card__img</a></li>
            <li><a href="#latest-card-content">.latest-card__content</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#newsletter"><h2>Newsletter</h2></a>
          <ul>
            <li><a href="#newsletter-form">.newsletter__form</a></li>
          </ul>
        </nav>
      </section>
      <section class="side-bar__section">
        <nav class="sidebar__nav">
          <a href="#footer"><h2>Footer</h2></a>
          <ul>
            <li><a href="#footer-marquee">.footer__marquee</a></li>
            <li><a href="#footer-nav-list">.footer__nav-list</a></li>
          </ul>
        </nav>
      </section>
      
    </header>
  <!------------ main content ------------> 
    <main class="container component__main">
      <h1>Web Design System</h1>
      <p>
        This is a component library study of the <a href="https://sweetgreen.com" target="_blank">sweetgreen</a> website.
      </p>
  <!---- typography ----> 
      <section id="typography" class="page-section">
        <h2 class="component__heading">Typography</h2>

        <article class="component">
          <h3 id="body" class="component__name">body</h3>
          <div class="component__img">
            <img srcset="img/app__desc.png 2x" src="img/app__desc.png" alt="body copy">
          </div>
          <div class="component__code">
            <p>
              Our freshly designed app is a dream home for all things sweetgreen. Order delivery or pickup, find personalized promos, and access exclusive menu items
            </p>
            <p>
              Tap in to eat with the seasons, explore new flavors, and find the sweet spot between good-for-you and just-plain-good.
            </p>
          </div>
        </article>

        <article class="component">
          <h3 id="headings" class="component__name">h2, h3, h4</h3>
          <div class="component__img">
            <img srcset="img/app__pre-heading.png 2x" src="img/app__pre-heading.png" alt="h2">
            <img srcset="img/app__heading.png 2x" src="img/app__heading.png" alt="h3">
            <img srcset="img/menu__heading--inactive.png 2x" src="img/menu__heading--inactive.png" alt="h4">
          </div>
          <div class="component__code">
            <h2>Inside The App</h2>
            <h3>Explore our new sweetgreen app</h3>
            <h4>Warm Bowls</h4>
          </div>
        </article>

        <article class="component">
          <h3 id="links" class="component__name">link</h3>
          <div class="component__code">
            <a href="#!">Careers</a>
          </div>
        </article>
      </section>
  <!---- atoms ----> 
      <section id="atoms" class="page-section">
        <h2 class="component__heading">atoms</h2>

        <h3 id="action-link" class="component__name">.action-link</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card__link.png 2x" src="img/menu-card__link.png" alt="menu card link">
          </div>
          <div class="component__code">
            <a class="action-link" href="#!"> Order now <span class="transform-arrow">&#8594;</span></a>
          </div>
        </article>
        
        <h3 id="button" class="component__name">.button</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/nav-bar__button.png 2x" src="img/nav-bar__button.png" alt="nav button">  
          </div>
          <div class="component__code">
            <p><a href="#!" class="button button">Order</a></p>
          </div>
        </article>

        <h3 id="button-primary" class="component__name">.button--primary</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/hero__button.png 2x" src="img/hero__button.png" alt="hero button"> 
          </div>
          <div class="component__code">
            <p><a href="#!" class="button button--primary">Order Now <span class="transform-arrow">&#8594;</span></a></p>
          </div>
        </article>

        <h3 id="button-secondary" class="component__name">.button--secondary</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/exclusives__button.png 2x" src="img/exclusives__button.png" alt="secondary button">
          </div>
          <div class="component__code">
            <p><a href="#!" class="button button--secondary">Order Now</a></p>
          </div>
        </article>   
        
        <h3 id="carousel-button" class="component__name">.carousel__button</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/exclusives__button-carousel.png 2x" src="img/exclusives__button-carousel.png" alt="carousel buttons">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button" src="img/left-arrow.svg"></a>
            <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button" src="img/right-arrow.svg"></a>
          </div>
        </article>

        <h3 id="carousel-button-circle" class="component__name">.carousel__button--circle</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/hero__button--carousel.png 2x" src="img/hero__button--carousel.png" alt="circle carousel buttons">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button--circle" src="img/left-arrow.svg"></a>
            <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button--circle" src="img/right-arrow.svg"></a>
          </div>
        </article>

        <h3 id="icon-square" class="component__name">.icon--square</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/lab__link--tiktok.png 2x" src="img/lab__link--tiktok.png" alt="tiktok icon">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/tiktok-square.svg" class="icon--square" src="img/tiktok-square.svg"></a>
          </div>
        </article>

      </section>
  <!---- nav-bar ----> 
      <section id="nav-bar" class="page-section">
        <h2 class="component__heading">nav-bar</h2>

        <h3 class="component__name">.nav-bar</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/nav-bar.png 2x" src="img/nav-bar.png" alt="nav bar">  
          </div>
          <div class="component__code">
            <div class="nav-bar__container">
              <nav>
                <ul class="nav-bar__list--left">
                  <li class="nav-bar__item"><a href="#!">Our Menu</a></li>
                  <li class="nav-bar__item"><a href="#!">Our Mission</a></li>
                  <li class="nav-bar__item"><a href="#!">Outpost</a></li>
                </ul>
              </nav>
              <a href="#!"><img class="wordmark" src="img/Sweetgreen_logo.svg" alt="sweetgreen wordmark"></a>
              <nav>
                <ul class="nav-bar__list--right">
                  <li class="nav-bar__item"><a href="#!">Sign In</a></li>
                  <a href="#!" class="button button">Order</a>
                </ul>
              </nav>
            </div>
          </div>
        </article>

        <h3 id="nav-bar-list" class="component__name">.nav-bar__list</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/nav-bar__list--left.png 2x" src="img/nav-bar__list--left.png" alt="nav list">  
          </div>
          <div class="component__code">
            <nav>
              <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="#!">Our Menu</a></li>
                <li class="nav-bar__item"><a href="#!">Our Mission</a></li>
                <li class="nav-bar__item"><a href="#!">Outpost</a></li>
              </ul>
            </nav>
          </div>
        </article>

        <h3 id="nav-bar-wordmark" class="component__name">.nav-bar__wordmark</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/nav-bar__wordmark.png 2x" src="img/nav-bar__wordmark.png" alt="nav logo">  
          </div>
          <div class="component__code">
            <a href="#!"><img class="wordmark" src="img/Sweetgreen_logo.svg" alt="sweetgreen wordmark"></a>
          </div>
        </article>

      </section>
  <!---- menu-card ---->
      <section id="menu-card" class="page-section">

        <h2 class="component__heading">menu card</h2>

        <h3 class="component__name">.menu-card</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card.png 2x" src="img/menu-card.png" alt="menu card">  
          </div>
          <div class="component__code">
            <div class="menu-card__container">
              <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5418ra5b4TcMHRxOIobxUx/f2856061ea0d30caf9df0eb42136428c/Product_Carousel-Kale_Caesar.jpg?w=600&q=75" alt="kale caesar">
              <h2 class="menu-card__heading">Kale Caesar</h2>
              <p class="menu-card__desc">Roasted chicken, tomatoes, parmesan crisps, shaved parmesan, shredded kale, chopped romaine, lime squeeze, caesar dressing</p>
              <a class="menu-card__link" href="#!">Order Now <span class="transform-arrow">&#8594;</span></a>
            </div>
          </div>
        </article>

        <h3 id="menu-card-img" class="component__name">.menu-card__img</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card__img.png 2x" src="img/menu-card__img.png" alt="menu card image">  
          </div>
          <div class="component__code">
            <div class="menu-card__container">
              <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5418ra5b4TcMHRxOIobxUx/f2856061ea0d30caf9df0eb42136428c/Product_Carousel-Kale_Caesar.jpg?w=600&q=75" alt="kale caesar">
            </div>
          </div>
        </article>

        <h3 id="menu-card-content" class="component__name">.menu-card__content</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card__content.png 2x" src="img/menu-card__content.png" alt="menu card content">  
          </div>
          <div class="component__code">
            <div>
              <h2 class="menu-card__heading">Kale Caesar</h2>
              <p class="menu-card__desc">Roasted chicken, tomatoes, parmesan crisps, shaved parmesan, shredded kale, chopped romaine, lime squeeze, caesar dressing</p>
              <a class="menu-card__link" href="#!">Order Now <span class="transform-arrow">&#8594;</span></a>
            </div>
          </div>
        </article>

        <h3 id="menu-card-tag-left" class="component__name">.menu-card__tag--left</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card__tag--left.png 2x" src="img/menu-card__tag--left.png" alt="menu card tag left">  
          </div>
          <div class="component__code">
            <div>
             <p class="menu-card__tag--left">Popular</p>
            </div>
          </div>
        </article>

        <h3 id="menu-card-tag-right" class="component__name">.menu-card__tag--right</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/menu-card__tag--right.png 2x" src="img/menu-card__tag--right.png" alt="menu card tag right">  
          </div>
          <div class="component__code">
            <div>
             <p class="menu-card__tag--right">G</p>
            </div>
          </div>
        </article>

      </section>
  <!---- latest-card ---->
      <section id="latest-card" class="page-section">
        <h2 class="component__heading">latest card</h2>

        <h3 class="component__name">.latest-card</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/latest-card.png 2x" src="img/latest-card.png" alt="latest card">  
          </div>
          <div class="component__code">
            <div class="latest-card__container">
              <div class="latest-card__content">
                <h2 class="latest-card__heading">Good Morning America</h2>
                <h4 class="latest-card__subheading">Naomi Osaka joins sweetgreen as youngest investor</h4>
                <p class="latest-card__desc">Discover what our collab means for the future of fast food...</p>
                <a class="latest-card__link" href="#!">Read more <span>&#8594;</span></a>
              </div>
              <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5OpJOQ3GY07jP9xxGih9Uy/87a2b0e565342cf90857236957938f3c/in-the-news-01-V3.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="naomi osaka">
            </div>
          </div>
        </article>

        <h3 class="component__name">.latest-card__img</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/latest-card__img.png 2x" src="img/latest-card__img.png" alt="latest card image">  
          </div>
          <div class="component__code">
            <div class="latest-card__img-container">
              <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5OpJOQ3GY07jP9xxGih9Uy/87a2b0e565342cf90857236957938f3c/in-the-news-01-V3.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="naomi osaka">
            </div>
          </div>
        </article>

        <h3 id="latest-card-content" class="component__name">.latest-card__content</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/latest-card__content.png 2x" src="img/latest-card__content.png" alt="latest card content">  
          </div>
          <div class="component__code">
            <div class="latest-card__content">
              <h2 class="latest-card__heading">Good Morning America</h2>
              <h4 class="latest-card__subheading">Naomi Osaka joins sweetgreen as youngest investor</h4>
              <p class="latest-card__desc">Discover what our collab means for the future of fast food...</p>
              <a class="latest-card__link" href="#!">Read more <span>&#8594;</span></a>
            </div>
          </div>
        </article>

      </section>
  <!---- newsletter ---->
      <section id="newsletter-form" class="page-section">
        <h2 class="component__heading">newsletter</h2>

        <h3 class="component__name">.newsletter__form</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/newsletter__form.png 2x" src="img/newsletter__form.png" alt="newsletter form">  
          </div>
          <div class="component__code">
            <div class="flex-container">
              <input type="email" placeholder="Email Address" id="email">
              <button type="submit" id="submit-arrow">&#8594;</button>
            </div>
          </div>
        </article>


      </section>
  <!---- footer ---->  
      <section id="footer" class="page-section">
        <h2 class="component__heading">footer</h2>

        <h3 class="component__name">.footer__marquee</h3>

        <article class="component">
          <div class="component__img">
            <img srcset="img/footer__marquee.png 2x" src="img/footer__marquee.png" alt="footer marquee">  
          </div>
          <div class="component__code">
            <div class="marquee">
              <h3>In season—Chicken + Brussels, Curry Cauliflower, and Elote Bowl</h3>
            </div>
          </div>
        </article>
      </section>  
    </main>
  </body>
</html>