<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components | sweetgreen</title>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
  <!-- side navigation --> 
    <header class="sidebar">
      <div class="sidebar__heading">
        <img src="img/sweetgreen_logo.svg" alt="sweetgreen logo">
      </div>
      <section class="sidebar__section">
        <a href="#typography"><h2>Typography</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#body">body</a></li>
            <li><a href="#headings">h2, h3, h4</a></li>
            <li><a href="#links">link</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#atoms"><h2>Atoms</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#action-link">.action-link</a></li>
            <li><a href="#button">.button</a></li>
            <li><a href="#button-primary">.button--primary</a></li>
            <li><a href="#button-secondary">.button--secondary</a></li>
            <li><a href="#carousel-button">.carousel__button</a></li>
            <li><a href="#carousel-button-circle">.carousel__button--circle</a></li>
            <li><a href="#icon-square">.icon--square</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#nav-bar"><h2>Nav-Bar</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#nav-bar">.nav-bar</a></li>
            <li><a href="#nav-bar-list">.nav-bar__list</a></li>
            <li><a href="#nav-bar-wordmark">.nav-bar__wordmark</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#hero-section"><h2>hero section</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#hero-section">.hero-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#menu-card"><h2>Menu Card</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#menu-card-tag-left">.menu-card__tag--p</a></li>
            <li><a href="#menu-card-tag-right">.menu-card__tag--g</a></li>
            <li><a href="#menu-card-img-p">.menu-card__img--p</a></li>
            <li><a href="#menu-card-img-g">.menu-card__img--g</a></li>
            <li><a href="#menu-card-content">.menu-card__content</a></li>
            <li><a href="#menu-card-complete">.menu-card</a></li>
            <li><a href="#menu-card-section">.menu-card-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#app-section"><h2>app section</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#app-section">.app-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#latest-card"><h2>Latest Card</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#latest-card-img">.latest-card__img</a></li>
            <li><a href="#latest-card-content">.latest-card__content</a></li>
            <li><a href="#latest-card-complete">.latest-card</a></li>
            <li><a href="#latest-card-section">.latest-card-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#exclusives"><h2>exclusives section</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#exclusives">.exclusives-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#lab"><h2>lab section</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#lab">.lab-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#newsletter"><h2>Newsletter and Download</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#newsletter-form">.newsletter__form</a></li>
            <li><a href="#newsletter-container">.newsletter__container</a></li>
            <li><a href="#download-container">.download__container</a></li>
            <li><a href="#newsletter-download-section">.newsletter-download-section</a></li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section">
        <a href="#footer"><h2>Footer</h2></a>
        <nav class="sidebar__nav">
          <ul>
            <li><a href="#footer-marquee">.footer__marquee</a></li>
            <li><a href="#footer-nav-list">.footer__nav-list</a></li>
            <li><a href="#footer-nav">.footer__nav</a></li>
            <li><a href="#footer-container">.footer</a></li>
          </ul>
        </nav>
      </section>
    </header>
  <!-- main content --> 
    <main class="container component__main">
      <h1>Web Design System</h1>
      <p>
        This is a component library study of the <a href="https://sweetgreen.com" target="_blank">sweetgreen</a> website.
      </p>
  <!-- typography --> 
      <section id="typography" class="page-section">
        <h2 class="component__heading">Typography</h2>

        <article class="component">
          <h3 id="body" class="component__name">body</h3>
          <div class="component__img">
            <img srcset="img/app__desc.png 2x" src="img/app__desc.png" alt="body copy">
          </div>
          <div class="component__code">
            <p class="first-p">Our freshly designed app is a dream home for all things sweetgreen. Order delivery or pickup, find personalized promos, and access exclusive menu items</p>
            <p class="second-p">Tap in to eat with the seasons, explore new flavors, and find the sweet spot between good-for-you and just-plain-good.</p>
          </div>
        </article>

        <article class="component">
          <h3 id="headings" class="component__name">h2, h3, h4</h3>
          <div class="component__img">
            <img srcset="img/app__pre-heading.png 2x" src="img/app__pre-heading.png" alt="h2">
            <img srcset="img/app__heading.png 2x" src="img/app__heading.png" alt="h3">
            <img srcset="img/menu__heading--active.png 2x" src="img/menu__heading--active.png" alt="h4">
          </div>
          <div class="component__code">
            <h2>Inside The App</h2>
            <h3>Explore our new sweetgreen app</h3>
            <h4>Warm Bowls</h4>
          </div>
        </article>

        <article class="component">
          <h3 id="links" class="component__name">link</h3>
          <div class="component__code">
            <a href="#!">Careers</a>
          </div>
        </article>
      </section>
  <!-- atoms --> 
      <section id="atoms" class="page-section">
        <h2 class="component__heading">atoms</h2>

        <article class="component">
          <h3 id="action-link" class="component__name">.action-link</h3>
          <div class="component__img">
            <img srcset="img/menu-card__link.png 2x" src="img/menu-card__link.png" alt="menu card link">
          </div>
          <div class="component__code">
            <a class="action-link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
          </div>
        </article>
        
        <article class="component">
          <h3 id="button" class="component__name">.button</h3>
          <div class="component__img">
            <img srcset="img/nav-bar__button.png 2x" src="img/nav-bar__button.png" alt="nav button">  
          </div>
          <div class="component__code">
            <a href="#!" class="button button">Order</a>
          </div>
        </article> 

        <article class="component">
          <h3 id="button-primary" class="component__name">.button--primary</h3>
          <div class="component__img">
            <img srcset="img/hero__button.png 2x" src="img/hero__button.png" alt="hero button"> 
          </div>
          <div class="component__code">
            <a href="#!" class="button button--primary">Order Now<span class="transform-arrow">&#8594;</span></a>
          </div>
        </article>

        <article class="component">
          <h3 id="button-secondary" class="component__name">.button--secondary</h3>
          <div class="component__img">
            <img srcset="img/exclusives__button.png 2x" src="img/exclusives__button.png" alt="secondary button">
          </div>
          <div class="component__code">
            <a href="#!" class="button button--secondary">Order Now</a>
          </div>
        </article>   
        
        <article class="component">
          <h3 id="carousel-button" class="component__name">.carousel__button</h3>
          <div class="component__img">
            <img srcset="img/exclusives__button-carousel.png 2x" src="img/exclusives__button-carousel.png" alt="carousel buttons">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button" src="img/left-arrow.svg" alt="left arrow"></a>
            <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button" src="img/right-arrow.svg" alt="right arrow"></a>
          </div>
        </article>

        <article class="component">
          <h3 id="carousel-button-circle" class="component__name">.carousel__button--circle</h3>
          <div class="component__img">
            <img srcset="img/hero__button--carousel.png 2x" src="img/hero__button--carousel.png" alt="circle carousel buttons">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button--circle" src="img/left-arrow.svg" alt="left arrow"></a>
            <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button--circle" src="img/right-arrow.svg" alt="right arrow"></a>
          </div>
        </article>

        <article class="component">
          <h3 id="icon-square" class="component__name">.icon--square</h3>
          <div class="component__img">
            <img srcset="img/lab__link--tiktok.png 2x" src="img/lab__link--tiktok.png" alt="tiktok icon">
          </div>
          <div class="component__code">
            <a href="#!"><img srcset="img/tiktok-square.svg" class="icon--square" src="img/tiktok-square.svg" alt="tiktok icon"></a>
          </div>
        </article>
      </section>
  <!-- nav-bar --> 
      <section id="nav-bar" class="page-section">
        <h2 class="component__heading">nav-bar</h2>

        <article class="component">
          <h3 class="component__name">.nav-bar</h3>
          <div class="component__img">
            <img srcset="img/nav-bar.png 2x" src="img/nav-bar.png" alt="nav bar">  
          </div>
          <div class="component__code">
            <div class="nav-bar__container">
              <nav>
                <ul class="nav-bar__list--left">
                  <li class="nav-bar__item"><a href="#!">Our Menu</a></li>
                  <li class="nav-bar__item"><a href="#!">Our Mission</a></li>
                  <li class="nav-bar__item"><a href="#!">Outpost</a></li>
                </ul>
              </nav>
              <a href="#!"><img class="wordmark" src="img/sweetgreen_logo.svg" alt="sweetgreen wordmark"></a>
              <nav>
                <ul class="nav-bar__list--right">
                  <li class="nav-bar__item"><a href="#!">Sign In</a></li>
                  <li class="nav-bar__item"><a href="#!" class="button button">Order</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="nav-bar-list" class="component__name">.nav-bar__list</h3>
          <div class="component__img">
            <img srcset="img/nav-bar__list--left.png 2x" src="img/nav-bar__list--left.png" alt="nav list">  
          </div>
          <div class="component__code">
            <nav>
              <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="#!">Our Menu</a></li>
                <li class="nav-bar__item"><a href="#!">Our Mission</a></li>
                <li class="nav-bar__item"><a href="#!">Outpost</a></li>
              </ul>
            </nav>
          </div>
        </article>

        <article class="component">
          <h3 id="nav-bar-wordmark" class="component__name">.nav-bar__wordmark</h3>
          <div class="component__img">
            <img srcset="img/nav-bar__wordmark.png 2x" src="img/nav-bar__wordmark.png" alt="nav logo">  
          </div>
          <div class="component__code">
            <a href="#!"><img class="wordmark" src="img/sweetgreen_logo.svg" alt="sweetgreen wordmark"></a>
          </div>
        </article>
      </section>
  <!-- hero section -->  
      <section id="hero" class="page-section">
        <h2 class="component__heading">hero section</h2>

        <article class="component">
          <h3 id="hero-section" class="component__name">.hero-section</h3>
          <div class="component__img">
            <img srcset="img/hero.png 2x" src="img/hero.png" alt="hero section">  
          </div>
          <div class="component__code">
            <div class="hero__container">
              <div class="hero__img">
                <img src="https://images.ctfassets.net/eum7w7yri3zr/1NJ7fLOE7LOWaTaC3R9ZwO/3f33bfc0a796aff567cd2ab64a207a51/S5-2021-banner-homepage-desktop.jpg?w=1600&q=75&fm=jpg&fl=progressive" alt="hero image">
              </div>
              <div class="hero__content">
                <h2>GET COZY</h2>
                <h3>Our new fall menu is here</h3>
                <a href="#!" class="button button--primary">Order Now<span class="transform-arrow">&#8594;</span></a>
              </div>
              <div class="hero__carousel--buttons">
                <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button--circle" src="img/left-arrow.svg" alt="left arrow"></a>
                <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button--circle" src="img/right-arrow.svg" alt="right arrow"></a>
              </div>
            </div>
          </div>
        </article>
      </section> 
  <!-- menu -->
      <section id="menu-card" class="page-section">
        <h2 class="component__heading">menu card</h2>

        <article class="component">
          <h3 id="menu-card-tag-left" class="component__name">.menu-card__tag--p</h3>
          <div class="component__img">
            <img srcset="img/menu-card__tag--left.png 2x" src="img/menu-card__tag--left.png" alt="menu card tag left">  
          </div>
          <div class="component__code">
            <div>
             <p class="menu-card__tag--left">Popular</p>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-tag-right" class="component__name">.menu-card__tag--g</h3>
          <div class="component__img">
            <img srcset="img/menu-card__tag--right.png 2x" src="img/menu-card__tag--right.png" alt="menu card tag right">  
          </div>
          <div class="component__code">
            <div>
             <p class="menu-card__tag--right">G</p>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-img-p" class="component__name">.menu-card__img--p</h3>
          <div class="component__img">
            <img srcset="img/menu-card__img--p.png 2x" src="img/menu-card__img--p.png" alt="menu card image">  
          </div>
          <div class="component__code">
            <div class="menu-card__container-p">
              <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5418ra5b4TcMHRxOIobxUx/f2856061ea0d30caf9df0eb42136428c/Product_Carousel-Kale_Caesar.jpg?w=600&q=75" alt="kale caesar">
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-img-g" class="component__name">.menu-card__img--g</h3>
          <div class="component__img">
            <img srcset="img/menu-card__img--g.png 2.5x" src="img/menu-card__img--g.png" alt="menu card image">  
          </div>
          <div class="component__code">
            <div class="menu-card__container-g">
              <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/d5b3PRm5FskiI0zYIM8Nj/6ac1736ca482f50a46cd073b65c4c759/Product_Carousel-Buffalo_Chicken_Bowls.jpg?w=600&q=75" alt="buffalo chicken bowl">
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-content" class="component__name">.menu-card__content</h3>
          <div class="component__img">
            <img srcset="img/menu-card__content.png 2x" src="img/menu-card__content.png" alt="menu card content">  
          </div>
          <div class="component__code">
            <div>
              <h2 class="menu-card__heading">Kale Caesar</h2>
              <p class="menu-card__desc">Roasted chicken, tomatoes, parmesan crisps, shaved parmesan, shredded kale, chopped romaine, lime squeeze, caesar dressing</p>
              <a class="menu-card__link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-complete" class="component__name">.menu-card</h3>
          <div class="component__img">
            <img srcset="img/menu-card.png 2x" src="img/menu-card.png" alt="menu card">  
          </div>
          <div class="component__code">
            <div class="menu-card__container-p">
              <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5418ra5b4TcMHRxOIobxUx/f2856061ea0d30caf9df0eb42136428c/Product_Carousel-Kale_Caesar.jpg?w=600&q=75" alt="kale caesar">
              <h2 class="menu-card__heading">Kale Caesar</h2>
              <p class="menu-card__desc">Roasted chicken, tomatoes, parmesan crisps, shaved parmesan, shredded kale, chopped romaine, lime squeeze, caesar dressing</p>
              <a class="menu-card__link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="menu-card-section" class="component__name">.menu-card-section</h3>
          <div class="component__img">
            <img srcset="img/menu.png 2x" src="img/menu.png" alt="hero section">  
          </div>
          <div class="component__code">
            <div class="menu__heading">
              <nav>
                <ul>
                  <li><a href="#!">Salads</a></li>
                  <li><a href="#!">Warm Bowls</a></li>
                  <li><a href="#!">Sides</a></li>
                </ul>
              </nav>
            </div>
            <div class="menu__content">
              <div class="menu-card__container-p">
                <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5418ra5b4TcMHRxOIobxUx/f2856061ea0d30caf9df0eb42136428c/Product_Carousel-Kale_Caesar.jpg?w=600&q=75" alt="kale caesar">
                <h2 class="menu-card__heading">Kale Caesar</h2>
                <p class="menu-card__desc">Roasted chicken, tomatoes, parmesan crisps, shaved parmesan, shredded kale, chopped romaine, lime squeeze, caesar dressing</p>
                <a class="menu-card__link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
              </div>
              <div class="menu-card__container-p">
                <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/3Z3fW9JhznhFDphzlHNmRx/85e7f5e3a7e92d63e5fec70e0336b899/Product_Carousel-Guacamole_Greens.jpg?w=600&q=75" alt="guacamole greens">
                <h2 class="menu-card__heading">Guacamole Greens</h2>
                <p class="menu-card__desc">Roasted chicken, avocado, tomatoes, red onions, shredded cabbage, tortilla chips, spring mix, chopped romaine, lime squeeze, lime cilantro jalapeño vinaigrette</p>
                <a class="menu-card__link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
              </div>
              <div class="menu-card__container-g">
                <img class="menu-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/d5b3PRm5FskiI0zYIM8Nj/6ac1736ca482f50a46cd073b65c4c759/Product_Carousel-Buffalo_Chicken_Bowls.jpg?w=600&q=75" alt="buffalo chicken bowl">
                <h2 class="menu-card__heading">Buffalo Chicken Bowl</h2>
                <p class="menu-card__desc">Blackened chicken, pickled carrots + celery, tomatoes, cilantro, blue cheese, za'atar breadcrumbs, shredded kale, chopped romaine, sweetgreen hot sauce, caesar dressing (contains gluten)</p>
                <a class="menu-card__link" href="#!">Order now<span class="transform-arrow">&#8594;</span></a>
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- app -->
      <section id="app-section" class="page-section">
        <h2 class="component__heading">app section</h2>

        <article class="component">
          <h3 class="component__name">.app-section</h3>
          <div class="component__img">
            <img srcset="img/app.png 2x" src="img/app.png" alt="latest card image">  
          </div>
          <div class="component__code">
            <div class="app-section__container">
              <div class="app-section__content">
                <h2>Inside the App</h2>
                <h3>Explore our new sweetgreen app</h3>
                <p class="first-p">Our freshly designed app is a dream home for all things sweetgreen. Order delivery or pickup, find personalized promos, and access exclusive menu items.</p>
                <p class="second-p">Tap in to eat with the seasons, explore new flavors, and find the sweet spot between good-for-you and just-plain-good.</p>
                <a id="app-section__button" href="#!" class="button button--primary">Download the App</a>
              </div>
              <div class="app-section__img">
                <img src="https://images.ctfassets.net/eum7w7yri3zr/1gVMoBGHoPIo2WNOFhYMYg/9304e13ca32b051638f26ccb65358782/Download_App-1x.png?w=1200&q=75" alt="sweetgreen app">
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- latest-card -->
      <section id="latest-card" class="page-section">
        <h2 class="component__heading">latest card</h2>

        <article class="component">
          <h3 id="latest-card-img" class="component__name">.latest-card__img</h3>
          <div class="component__img">
            <img srcset="img/latest-card__img.png 2x" src="img/latest-card__img.png" alt="latest card image">  
          </div>
          <div class="component__code">
            <div class="latest-card__img-container">
              <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5OpJOQ3GY07jP9xxGih9Uy/87a2b0e565342cf90857236957938f3c/in-the-news-01-V3.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="naomi osaka">
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="latest-card-content" class="component__name">.latest-card__content</h3>
          <div class="component__img">
            <img srcset="img/latest-card__content.png 2x" src="img/latest-card__content.png" alt="latest card content">  
          </div>
          <div class="component__code">
            <div class="latest-card__content">
              <h2 class="latest-card__heading">Good Morning America</h2>
              <h4 class="latest-card__subheading">Naomi Osaka joins sweetgreen as youngest investor</h4>
              <p class="latest-card__desc">Discover what our collab means for the future of fast food...</p>
              <a class="latest-card__link" href="#!">Read more<span>&#8594;</span></a>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="latest-card-complete" class="component__name">.latest-card</h3>
          <div class="component__img">
            <img srcset="img/latest-card.png 2x" src="img/latest-card.png" alt="latest card">  
          </div>
          <div class="component__code">
            <article class="latest-card__container">
              <div class="latest-card__content">
                <h2 class="latest-card__heading">Good Morning America</h2>
                <h4 class="latest-card__subheading">Naomi Osaka joins sweetgreen as youngest investor</h4>
                <p class="latest-card__desc">Discover what our collab means for the future of fast food...</p>
                <a class="latest-card__link" href="#!">Read more<span>&#8594;</span></a>
              </div>
              <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5OpJOQ3GY07jP9xxGih9Uy/87a2b0e565342cf90857236957938f3c/in-the-news-01-V3.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="naomi osaka">
            </article>
          </div>
        </article>

        <article class="component">
          <h3 id="latest-card-section" class="component__name">.latest-card-section</h3>
          <div class="component__img">
            <img srcset="img/latest.png 2x" src="img/latest.png" alt="latest card">  
          </div>
          <div class="component__code">
            <div class="latest-section__container">
              <div class="latest-section-header">
                <h2 class="latest-header">The Latest</h2>
                <a id="latest-header-link" class="action-link" href="#!">Read More <span class="transform-arrow">&#8594;</span></a>
              </div>
              <div class="latest-section-cards">
                <article class="latest-card__container">
                  <div class="latest-card__content">
                    <h2 class="latest-card__heading">Good Morning America</h2>
                    <h4 class="latest-card__subheading">Naomi Osaka joins sweetgreen as youngest investor</h4>
                    <p class="latest-card__desc">Discover what our collab means for the future of fast food...</p>
                    <a class="latest-card__link" href="#!">Read more<span>&#8594;</span></a>
                  </div>
                  <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/5OpJOQ3GY07jP9xxGih9Uy/87a2b0e565342cf90857236957938f3c/in-the-news-01-V3.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="naomi osaka">
                </article>
                <article class="latest-card__container">
                  <div class="latest-card__content">
                    <h2 class="latest-card__heading">New York Times</h2>
                    <h4 class="latest-card__subheading">In a burger world, can sweetgreen scale up?</h4>
                    <p class="latest-card__desc">Learn how we're using tech to innovate fast-casual dining...</p>
                    <a class="latest-card__link" href="#!">Read more<span>&#8594;</span></a>
                  </div>
                  <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/15tg2tG39ogDWlWrHNwoFV/5c36cfa99bd970cee2b3e5734747ff55/in-the-news-02.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="founders in a salad">
                </article>
                <article class="latest-card__container">
                  <div class="latest-card__content">
                    <h2 class="latest-card__heading">NPR How I Built This</h2>
                    <h4 class="latest-card__subheading">sweetgreen: Nicolas Jammet & Jonathan Neman</h4>
                    <p class="latest-card__desc">Dive into a juicy podcast with our visionary founders...</p>
                    <a class="latest-card__link" href="#!">Read more<span>&#8594;</span></a>
                  </div>
                  <img class="latest-card__img" src="https://images.ctfassets.net/eum7w7yri3zr/1DeCfXyhsXGMnVbYEZoN0F/a2f182f721c8d036de537d7f15d28ea0/in-the-news-03-V2.png?fm=jpg&fl=progressive&fit=crop&f=faces&w=360&h=360&q=75" alt="sweetgreen restaurant">
                </article>
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- exclusives -->
      <section id="exclusives" class="page-section">
        <h2 class="component__heading">exclusives section</h2>

        <article class="component">
          <h3 class="component__name">.exclusives-section</h3>
          <div class="component__img">
            <img srcset="img/exclusives.png 2x" src="img/exclusives.png" alt="exclusive section">  
          </div>
          <div class="component__code">
            <div class="exclusives-section-header__container">
              <h2 class="exclusives-header">sweetgreen exclusives</h2>
              <div class="exclusives-arrows">
                <a href="#!"><img srcset="img/left-arrow.svg" class="button carousel__button" src="img/left-arrow.svg" alt="left arrow"></a>
                <a href="#!"><img srcset="img/right-arrow.svg" class="button carousel__button" src="img/right-arrow.svg" alt="right arrow"></a>
              </div>
            </div>
            <div class="exclusives-section-content__container">
              <div class="exclusives-section-content">
                <h3>Dive into the fan favorites</h3>
                <p class="first-p">Ordered often and always a hit, these popular picks are true sweetgreen staples.</p>
                <p class="second-p">This collection includes the Harvest Bowl, Kale Caesar, Gaucamole Greens, Chicken Pesto Parm, and Hot Honey chicken plate.</p>
                <a id="exclusives-section__button" href="#!" class="button button--secondary">Order Now</a>
              </div>
              <div class="exclusives-section__img">
                <img src="https://images.ctfassets.net/eum7w7yri3zr/7C0UGrEDsHX16wSBPLRYDH/7a142df84cd81f9ce6f73599d3ad0195/collections-popular.png?w=1200&q=&fm=jpg&fl=progressive" alt="kale caesar in a farm">
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- lab -->
      <section id="lab" class="lab-section">
        <h2 class="component__heading">lab section</h2>
        <article class="component">
          <h3 class="component__name">.lab-section</h3>
          <div class="component__img">
            <img srcset="img/lab.png 2x" src="img/lab.png" alt="lab section">  
          </div>
          <div class="component__code">
            <div class="lab-section__container">
              <div class="lab-section__content">
                <h2>In the Lab</h2>
                <h3>Step inside the sweetgreen kitchen</h3>
                <p class="lab-p">
                  Head over to TikTok for an exclusive tutorial—how to make our famed cashew dressing.
                </p>
                <a class="lab-link" href="#!"><img srcset="img/tiktok-square.svg" class="icon--square" src="img/tiktok-square.svg" alt="tiktok icon">Follow along<span class="transform-arrow">&#8594;</span></a> 
              </div>
              <div class="lab-section__video">
                <video autoplay loop muted>
                  <source src="https://videos.ctfassets.net/eum7w7yri3zr/tqIHrYka4VTGHFGLxYAvw/77e467dc040d075950bc9cc65d0719d1/Spicy_Cashew_Recipe.mov">
                </video>
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- newsletter and download -->
      <section id="newsletter" class="page-section">
        <h2 class="component__heading">newsletter and download</h2>

        <article class="component">
          <h3 id="newsletter-form" class="component__name">.newsletter__form</h3>
          <div class="component__img">
            <img srcset="img/newsletter__form.png 2x" src="img/newsletter__form.png" alt="newsletter form">  
          </div>
          <div class="component__code">
            <div class="flex-container">
              <input type="email" placeholder="Email Address" class="email">
              <button type="submit" class="submit-arrow">&#8594;</button>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="newsletter-container" class="component__name">.newsletter__container</h3>
          <div class="component__img">
            <img srcset="img/newsletter.png 2x" src="img/newsletter.png" alt="newsletter">  
          </div>
          <div class="component__code">
           <div class="newsletter__container">
            <h2 class="newsletter__h2">Join Our Newsletter</h2>
            <p>Sign up for exclusive promos, new menu drops, store openings, and more.</p>
            <div class="flex-container">
              <input type="email" placeholder="Email Address" class="email">
              <button type="submit" class="submit-arrow">&#8594;</button>
            </div>
           </div>
          </div>
        </article>

        <article class="component">
          <h3 id="download-container" class="component__name">.download__container</h3>
          <div class="component__img">
            <img srcset="img/download.png 2x" src="img/download.png" alt="download">  
          </div>
          <div class="component__code">
            <div class="download__container">
              <div class="download__content">
                <h2 class="newsletter__h2">Download the App</h2>
                <p><a href="#!">iOS<span class="transform-arrow">&#8594;</span></a></p>
                <p><a href="#!">Android<span class="transform-arrow">&#8594;</span></a></p>
              </div>
              <figure class="download-illustration">
                <img src="https://images.ctfassets.net/eum7w7yri3zr/QeC14rNAsPTRIuV4EAafd/f6d5c7574ff3f26a87f23d4f9d1c0b8f/PickUp1.png?w=600&q=75" alt="download illustration">
              </figure>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="newsletter-download-section" class="component__name">.newsletter-download-section</h3>
          <div class="component__img">
            <img srcset="img/newsletter-download-section.png 2x" src="img/newsletter-download-section.png" alt="newsletter download section">  
          </div>
          <div class="component__code">
            <div class="newsletter-download__container">
              <div class="newsletter__container">
                <h2 class="newsletter__h2">Join Our Newsletter</h2>
                <p>Sign up for exclusive promos, new menu drops, store openings, and more.</p>
                <div class="flex-container">
                  <input type="email" placeholder="Email Address" class="email">
                  <button type="submit" class="submit-arrow">&#8594;</button>
                </div>
              </div>
              <div class="download__container">
                <div class="download__content">
                  <h2 class="newsletter__h2">Download the App</h2>
                  <p><a href="#!">iOS<span class="transform-arrow">&#8594;</span></a></p>
                  <p><a href="#!">Android<span class="transform-arrow">&#8594;</span></a></p>
                </div>
                <figure class="download-illustration">
                  <img src="https://images.ctfassets.net/eum7w7yri3zr/QeC14rNAsPTRIuV4EAafd/f6d5c7574ff3f26a87f23d4f9d1c0b8f/PickUp1.png?w=600&q=75" alt="download illustration">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </section>
  <!-- footer -->  
      <section id="footer" class="page-section">
        <h2 class="component__heading">footer</h2>

        <article class="component">
          <h3 id="footer-marquee" class="component__name">.footer__marquee</h3>
          <div class="component__img">
            <img srcset="img/footer__marquee.png 2x" src="img/footer__marquee.png" alt="footer marquee">  
          </div>
          <div class="component__code">
            <div class="marquee">
              <h3>In season—Chicken + Brussels, Curry Cauliflower, and Elote Bowl</h3>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="footer-nav-list" class="component__name">.footer__nav-list</h3>
          <div class="component__img">
            <img srcset="img/footer-nav__list.png 2x" src="img/footer-nav__list.png" alt="footer nav list">  
          </div>
          <div class="component__code">
            <nav class="footer__nav-list">
              <h2>About Us</h2>
              <ul>
                <li><a href="#!">Careers</a></li>
                <li><a href="#!">Press</a></li>
                <li><a href="#!">sweetgreen app</a></li>
                <li><a href="#!">Covid-19 safety</a></li>
              </ul>
            </nav>
          </div>
        </article>

        <article class="component">
          <h3 id="footer-nav" class="component__name">.footer__nav</h3>
          <div class="component__img">
            <img srcset="img/footer-nav.png 2x" src="img/footer-nav.png" alt="footer nav">  
          </div>
          <div class="component__code">
            <div class="footer__nav-container">
              <div class="footer__nav">
                <nav class="footer__nav-list">
                  <h2>About Us</h2>
                  <ul>
                    <li><a href="#!">Careers</a></li>
                    <li><a href="#!">Press</a></li>
                    <li><a href="#!">sweetgreen app</a></li>
                    <li><a href="#!">Covid-19 safety</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Social Media</h2>
                  <ul>
                    <li><a href="#!">Instagram</a></li>
                    <li><a href="#!">Twitter</a></li>
                    <li><a href="#!">TikTok</a></li>
                    <li><a href="#!">Spotify</a></li>
                    <li><a href="#!">Facebook</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Support + Services</h2>
                  <ul>
                    <li><a href="#!">Store</a></li>
                    <li><a href="#!">Contact us</a></li>
                    <li><a href="#!">FAQs</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Terms + Conditions</h2>
                  <ul>
                    <li><a href="#!">Privacy policy</a></li>
                    <li><a href="#!">Terms + conditions</a></li>
                    <li><a href="#!">Do Not Sell My Personal</a></li>
                    <li><a href="#!">Information</a></li>
                    <li><a href="#!">Diversity, Equity, + Inclusion</a></li>
                  </ul>
                </nav>
              </div>
              <div class="footer__copyright">
                <p>&#169; 2021 sweetgreen</p>
              </div>
            </div>
          </div>
        </article>

        <article class="component">
          <h3 id="footer-container" class="component__name">.footer</h3>
          <div class="component__img">
            <img srcset="img/footer.png 2x" src="img/footer.png" alt="footer nav">  
          </div>
          <div class="component__code">
            <div class="marquee">
              <h3>In season—Chicken + Brussels, Curry Cauliflower, and Elote Bowl</h3>
            </div>
            <div class="footer__nav-container"> <!-- this holds the nav list and copyright -->
              <div class="footer__nav"> <!-- this holds the nav list grid -->
                <nav class="footer__nav-list">
                  <h2>About Us</h2>
                  <ul>
                    <li><a href="#!">Careers</a></li>
                    <li><a href="#!">Press</a></li>
                    <li><a href="#!">sweetgreen app</a></li>
                    <li><a href="#!">Covid-19 safety</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Social Media</h2>
                  <ul>
                    <li><a href="#!">Instagram</a></li>
                    <li><a href="#!">Twitter</a></li>
                    <li><a href="#!">TikTok</a></li>
                    <li><a href="#!">Spotify</a></li>
                    <li><a href="#!">Facebook</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Support + Services</h2>
                  <ul>
                    <li><a href="#!">Store</a></li>
                    <li><a href="#!">Contact us</a></li>
                    <li><a href="#!">FAQs</a></li>
                  </ul>
                </nav>
                <nav class="footer__nav-list">
                  <h2>Terms + Conditions</h2>
                  <ul>
                    <li><a href="#!">Privacy policy</a></li>
                    <li><a href="#!">Terms + conditions</a></li>
                    <li><a href="#!">Do Not Sell My Personal</a></li>
                    <li><a href="#!">Information</a></li>
                    <li><a href="#!">Diversity, Equity, + Inclusion</a></li>
                  </ul>
                </nav>
              </div>
              <div class="footer__copyright">
                <p>&#169; 2021 sweetgreen</p>
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>